// --------------------------------------------------
// Variables
// --------------------------------------------------

$color-blue: #0c92e7;
$color-blue-dark: #2589F8;
$color-blue-light: #29B2FB;
$color-blue-trans: rgba(#0076b9, .4);
$color-white-trans: rgba(white, .4);

$color-text: #404040;
$color-text-light: #999;
$color-border: #ddd;

$font-thin-italic: 'brandon_grotesquethin_italic';
$font-thin: 'brandon_grotesquethin';
$font-light-italic: 'brandon_grotesquelight_italic';
$font-light: 'brandon_grotesquelight';
$font-reg-italic: 'brandon_grotesqueRgIt';
$font-reg: 'brandon_grotesque_regularRg';
$font-bold-italic: 'brandon_grotesquebold_italic';
$font-bold: 'brandon_grotesquebold';
$font-black: 'brandon_grotesqueblack';

$bp-sm: 768px;
$bp-md: 960px;
$bp-lg: 1140px;