<input ng-class="{'filled': model.length}"
ng-model="model.pretty"
ng-change="filterItems(items, model)"
class="input-city__input" type="text" name="city" id="city" autocomplete="off">
<label class="input-city__label" for="city"><span>City</span></label>
<ul class="typeahead">
	<li typeahead-item="city"
	ng-repeat="city in itemsFiltered"
	class="typeahead-item">
	  <span class="typeahead-item__state">{{ city.state }}</span>
	  <span class="typeahead-item__pretty"><span class="icon-location"></span>{{ city.pretty }}</span>
	</li>
</ul>