<header class="hero-unit" id="banner">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div class="hero-content wrap">
    <h1>Buy used cars with confidence.</h1>
    <form ng-submit="go()" name="search">
      <div class="radio-slide">
        <input class="radio-slide__input" id="cta" type="radio" value="cta" name="forSale" checked>
        <label class="radio-slide__label" for="cta">All</label>
        <input class="radio-slide__input" id="cto" type="radio" value="cto" name="forSale">
        <label class="radio-slide__label" for="cto">Owner</label>
        <input class="radio-slide__input" id="ctd" type="radio" value="ctd" name="forSale">
        <label class="radio-slide__label" for="ctd">Dealer</label>
        <span class="radio-slide__slider"></span>
      </div>
      <div class="search-inputs">
        <ui-select ng-model="query.city">
          <ui-select-match>{{$select.selected.pretty}}</ui-select-match>
          <ui-select-choices group-by="groupFind" repeat="city in cities | filter: $select.search">
              <div ng-bind-html="value.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <!-- <input ng-class="{'filled': model.length}"
        ng-model="model.city"
        ng-change="filterItems(items, model)"
        class="input-city__input" type="text" name="city" id="city" autocomplete="off">
        <label class="input-city__label" for="city"><span>City</span></label>
        <ul class="typeahead">
          <li typeahead-item="city"
          ng-repeat="city in itemsFiltered"
          class="typeahead-item">
            <span class="typeahead-item__state">{{ city.state }}</span>
            <span class="typeahead-item__pretty"><span class="icon-location"></span>{{ city.pretty }}</span>
          </li>
        </ul> -->
        <div class="input-query">
          <input ng-class="{'filled': query.query.length}" class="input-query__input" type="query" name="query" id="query" ng-model="query.query">
          <label class="input-query__label" for="query"><span>Search</span></label>
        </div>
        <div class="button-submit">
          <button class="btn btn--white" type='submit'>GO</button>
        </div>
      </div>
    </form>
  </div>
</header>

<div class="wrap">
    <h1 class="page-header">Features:</h1>
</div>

<div ng-include="'components/footer/footer.html'"></div>