<header class="hero-unit" id="banner">
  <div ng-include="'components/navbar/navbar.html'"></div>
</header>

<div class="wrap">
	<h1 class="page-header">Cars:</h1>
  <div class="gallery">
  	<div ng-repeat="car in cars" class="gallery-module">
  		<a ng-click="getCar(car.id)" class="module">
        <ul rn-carousel class="gallery-module__carousel">
        	<li ng-repeat="image in car.images track by $index">
        		<div class="gallery-module__image" style="background-image: url({{ image }});"></div>
        	</li>
        </ul>
  	   		<h3>{{ car.title }}</h3>
  	   		<h4> {{ car.price }}</h4>
  	   	</a>
  	</div>
  </div>
</div>
